In [1]:
import os
import pandas as pd
import requests
import matplotlib as plt
from datetime import datetime, date, timedelta

In [2]:
#https://ourworldindata.org/coronavirus-source-data
filepath = 'https://covid.ourworldindata.org/data/full_data.csv'
covid_df = pd.read_csv(filepath)
covid_df.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2020-02-25  Afghanistan        NaN         NaN            1           NaN
1  2020-02-26  Afghanistan        0.0         NaN            1           NaN
2  2020-02-27  Afghanistan        0.0         NaN            1           NaN
3  2020-02-28  Afghanistan        0.0         NaN            1           NaN
4  2020-02-29  Afghanistan        0.0         NaN            1           NaN

In [3]:
cleandf = covid_df.fillna(0)
cleandf

,date,location,new_cases,new_deaths,total_cases,total_deaths
0,2020-02-25,Afghanistan,0.0,0.0,1,0.0
1,2020-02-26,Afghanistan,0.0,0.0,1,0.0
2,2020-02-27,Afghanistan,0.0,0.0,1,0.0
3,2020-02-28,Afghanistan,0.0,0.0,1,0.0
4,2020-02-29,Afghanistan,0.0,0.0,1,0.0
...,...,...,...,...,...,...
2862,2020-03-13,World,7488.0,338.0,132758,4956.0
2863,2020-03-14,World,9761.0,433.0,142534,5392.0
2864,2020-03-15,World,10967.0,343.0,153517,5735.0
2865,2020-03-16,World,13971.0,855.0,167506,6606.0
2866,2020-03-17,World,11594.0,819.0,179112,7426.0

In [4]:
maxdate = max(cleandf['date'])
maxdate

'2020-03-17'

In [5]:
filter_current_data = cleandf[(cleandf['date']==maxdate) & (cleandf['location']!='World')]
filter_current_data.sort_values(by=['total_cases'], ascending=False).head(10)

,date,location,new_cases,new_deaths,total_cases,total_deaths
554,2020-03-17,China,39.0,13.0,81116,3231.0
1310,2020-03-17,Italy,3233.0,694.0,27980,2503.0
1199,2020-03-17,Iran,0.0,0.0,14991,853.0
2365,2020-03-17,Spain,1438.0,21.0,9191,309.0
2050,2020-03-17,South Korea,84.0,6.0,8320,81.0
870,2020-03-17,France,1193.0,21.0,6573,148.0
960,2020-03-17,Germany,1174.0,1.0,6012,13.0
2747,2020-03-17,United States,1825.0,17.0,3503,58.0
2488,2020-03-17,Switzerland,0.0,1.0,2200,14.0
2591,2020-03-17,United Kingdom,152.0,20.0,1547,55.0

In [6]:
#df_new_cases = cleandf[['date','location', 'new_cases']]
df_new_cases = cleandf[cleandf['location']!='World'].groupby('date')
df_new_cases.sum()

            new_cases  new_deaths  total_cases  total_deaths
date
2020-01-21        0.0         0.0          282           6.0
2020-01-22       32.0         0.0          314           6.0
2020-01-23      266.0        11.0          581          17.0
2020-01-24      262.0         8.0          846          25.0
2020-01-25      467.0        16.0         1320          41.0
2020-01-26      691.0        15.0         2014          56.0
2020-01-27      783.0        24.0         2798          80.0
2020-01-28     1792.0        26.0         4593         106.0
2020-01-29     1468.0        26.0         6065         132.0
2020-01-30     1750.0        38.0         7818         170.0
2020-01-31     2006.0        43.0         9826         213.0
2020-02-01     2121.0        46.0        11953         259.0
2020-02-02     2604.0        45.0        14557         305.0
2020-02-03     2834.0        57.0        17391         362.0
2020-02-04     3239.0        64.0        20630         426.0
2020-02-05     3913.0        66.0        24544         492.0
2020-02-06     3712.0        73.0        28276         565.0
2020-02-07     3205.0        73.0        31481         638.0
2020-02-08     3405.0        86.0        34886         724.0
2020-02-09     2672.0        89.0        37558         813.0
2020-02-10     2996.0        97.0        40554         910.0
2020-02-11     2549.0       108.0        43103        1018.0
2020-02-12     2068.0        97.0        45171        1115.0
2020-02-13     1826.0       254.0        46997        1369.0
2020-02-14     2056.0        13.0        49053        1383.0
2020-02-15     1526.0       143.0        50580        1526.0
2020-02-16     1277.0       142.0        51857        1669.0
2020-02-17    19572.0       106.0        71429        1775.0
2020-02-18     1903.0        98.0        73332        1873.0
2020-02-19     1872.0       136.0        75204        2009.0
2020-02-20      542.0       115.0        75748        2129.0
2020-02-21     1021.0       118.0        76769        2247.0
2020-02-22     1023.0       112.0        77794        2359.0
2020-02-23     1017.0       102.0        78811        2463.0
2020-02-24      517.0       155.0        79331        2618.0
2020-02-25      896.0        82.0        80239        2700.0
2020-02-26      864.0        62.0        81109        2762.0
2020-02-27     1175.0        42.0        82294        2804.0
2020-02-28     1353.0        54.0        83652        2858.0
2020-02-29     1748.0        66.0        85403        2924.0
2020-03-01     1727.0        53.0        87137        2977.0
2020-03-02     1801.0        64.0        88948        3043.0
2020-03-03     1912.0        67.0        90869        3112.0
2020-03-04     2217.0        86.0        93090        3198.0
2020-03-05     2220.0        79.0        95324        3280.0
2020-03-06     2864.0        99.0        98192        3380.0
2020-03-07     3730.0       104.0       101927        3486.0
2020-03-08     3644.0        96.0       105592        3584.0
2020-03-09     3979.0       224.0       109577        3809.0
2020-03-10     4119.0       201.0       113702        4012.0
2020-03-11     4611.0       275.0       118319        4292.0
2020-03-12     6936.0       317.0       125260        4613.0
2020-03-13     7488.0       338.0       132758        4956.0
2020-03-14     9761.0       433.0       142534        5392.0
2020-03-15    10967.0       343.0       153517        5735.0
2020-03-16    13971.0       855.0       167506        6606.0
2020-03-17    11594.0       819.0       179112        7426.0

In [ ]:
df_new_deaths = filter_current_data[['date','location', 'new_deaths']]
df_new_deaths
#df_new_deaths = cleandf[cleandf['location']!='World'].groupby('date')
#df_new_deaths.sum()